@import url("agregore://theme/vars.css");

html,
body {
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	text-align: center;
	background: var(--ag-theme-background);
	color: var(--ag-theme-text);
}

body {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 1em;
	max-width: 666px;
}

.eye {
	max-width: 256px;
}
